---
# Source: cased-cd/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cased-cd
  labels:
    helm.sh/chart: cased-cd-0.1.15
    app.kubernetes.io/name: cased-cd
    app.kubernetes.io/instance: cased-cd
    app.kubernetes.io/version: "0.1.15"
    app.kubernetes.io/managed-by: Helm
---
# Source: cased-cd/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: cased-cd
  labels:
    helm.sh/chart: cased-cd-0.1.15
    app.kubernetes.io/name: cased-cd
    app.kubernetes.io/instance: cased-cd
    app.kubernetes.io/version: "0.1.15"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: cased-cd
    app.kubernetes.io/instance: cased-cd
---
# Source: cased-cd/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cased-cd
  labels:
    helm.sh/chart: cased-cd-0.1.15
    app.kubernetes.io/name: cased-cd
    app.kubernetes.io/instance: cased-cd
    app.kubernetes.io/version: "0.1.15"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: cased-cd
      app.kubernetes.io/instance: cased-cd
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cased-cd
        app.kubernetes.io/instance: cased-cd
    spec:
      serviceAccountName: cased-cd
      securityContext:
        fsGroup: 101
        runAsNonRoot: true
        runAsUser: 101
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: cased-cd
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: false
            seccompProfile:
              type: RuntimeDefault
          image: ghcr.io/cased/cased-cd:0.1.15
          imagePullPolicy: IfNotPresent
          command: ["/entrypoint.sh"]
          env:
            - name: ARGOCD_SERVER
              value: "https://argocd-server.argocd.svc.cluster.local"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi
